<section class="about section-scroll" id="about">

        <div class="about__wrapper">
            <div class="container">
                <div class="about__inner">
                    <div class="about__text-block">
                        <h2 class="about__title">о нас</h2>
                        <p class="about__subtitle">Наша компания - это эксперты в сфере управления репутацией и имиджем.</p>
                        <p class="about__text">Мы помогаем компаниям повышать свою репутацию и создавать узнаваемый и
                            уважаемый имидж в глазах клиентов и партнеров. Мы предоставляем комплексные решения, которые
                            включают в себя анализ, стратегическое планирование и реализацию практических действий для
                            достижения поставленных целей. Наша цель - помочь вашей компании стать лидером в своей отрасли и
                            добиться успеха на долгие годы.</p>
                        <div class="about__projects-inner">
                            <div class="about__projects-item">
                                <div class="about__item-number"><span class="project-done"></span></div>
                                <div class="about__item-slogan">успешно релизованных <br> проектов</div>
                            </div>

                            <div class="about__projects-item">
                                <div class="about__item-number">82%</div>
                                <div class="about__item-slogan">клиентов нас <br> рекомендуют</div>
                            </div>

                            <div class="about__projects-item">
                                <div class="about__item-number"><span class="year-work"></span> лет</div>
                                <div class="about__item-slogan">на рынке <br> web-услуг</div>
                            </div>
                        </div>
                    </div>
                    <div class="about__image-inner">
                        <img class="about__image" src="assets/images/about/about-phone.png" alt="#">
                    </div>
                    <div class="about__client-wrapper">
                        <h4 class="about__client-title">Наши клиенты</h4>
                        <div class="about__client-inner">
                            <div class="about__image-wrapper">
                                <img class="about__client-image" src="assets/images/clients/leroy.png" alt="#">
                            </div>
                            <div class="about__image-wrapper">
                                <img class="about__client-image" src="assets/images/clients/simplewine.png" alt="#">
                            </div>
                            <div class="about__image-wrapper">
                                <img class="about__client-image" src="assets/images/clients/x5.png" alt="#">
                            </div>
                            <div class="about__image-wrapper">
                                <img class="about__client-image" src="assets/images/clients/sportmaster.png" alt="#">
                            </div>
                            <div class="about__image-wrapper">
                                <img class="about__client-image" src="assets/images/clients/askone.png" alt="#">
                            </div>
                            <div class="about__image-wrapper">
                                <img class="about__client-image" src="assets/images/clients/eldorado.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>