<section class="cases" id="cases">
    <div class="cases__content-wrapper">
        <div class="container">
            <h2 class="cases__title-main">Наши кейсы</h2>
            <div class="cases__description-inner">
                <button class="cases__description cases__description--active" type="button" data-path="1">e-commerce</button>
                <button class="cases__description" type="button" data-path="2">Лендинг</button>
                <button class="cases__description" type="button">Корпоративный</button>
                <button class="cases__description" type="button">Сайт-визитка</button>
                <button class="cases__description" type="button">Форум</button>
                <button class="cases__description" type="button">Блог</button>
                <button class="cases__description" type="button">Медицина</button>
                <button class="cases__description" type="button">Банки</button>
            </div>
            <div class="cases__wrapper">
                <div class="cases__content cases__content--active cases-swiper swiper" data-target="1">
                    <h3 class="cases__title">e-commerce</h3>
                    <div class="cases__content-inner swiper-wrapper">
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs jsPopup-open" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">

                                        <img class="jobs__image" src="assets/images/case/case-1.jpg"
                                             ghiw-picture-class="jobs__picture-inner"
                                             ghiw-responsive-filenames="assets/images/case/case-1; assets/images/case/case-1"
                                             ghiw-responsive-media="max-width: 768px; max-width: 1920px"
                                             ghiw-responsive-extensions="jpg; webp"
                                             alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>

                    </div>
                    <div class="swiper-custom">
                        <div class="swiper-custom__pagination-inner">
                            <div class="swiper-custom__fraction-inner">
                                <div class="swiper-custom__fraction">
                                    <div class="swiper-custom__current cases__current"></div>
                                    <div class="swiper-custom__separator">/</div>
                                    <div class="swiper-custom__total cases__total"></div>
                                </div>
                                <div class="swiper-custom__arrow-inner">
                                    <svg class="swiper-custom__arrow swiper-custom__arrow--prev cases-slider-prev">
                                        <use xlink:href="assets/images/svg/set.svg#slider-arrow-color"></use>
                                    </svg>
                                    <svg class="swiper-custom__arrow swiper-custom__arrow--next cases-slider-next">
                                        <use xlink:href="assets/images/svg/set.svg#slider-arrow-color"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="swiper-custom__pagination cases__text-pagination swiper-pagination"></div>
                            <div class="swiper-custom__progressbar-icon swiper-progressbar-icon-cases"></div>

                        </div>
                    </div>
                </div>

                <div class="cases__content cases-swiper swiper" data-target="2">
                    <h3 class="cases__title">Лендинг</h3>
                    <div class="cases__content-inner swiper-wrapper">
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>
                        <div class="cases__content-slide swiper-slide">
                            <a class="jobs" href="#">
                                <div class="jobs__wrapper">
                                    <h4 class="jobs__title">IT-компания</h4>
                                    <p class="jobs__company-name">AppCraft</p>
                                    <p class="jobs__text">Создает индивидуальные приложения различной сложности для iOS
                                        и Android</p>
                                    <div class="jobs__image-wrapper">
                                        <img class="jobs__image" src="assets/images/case/case-1.jpg" alt="#"></div>
                                </div>
                                <span class="jobs__fake-button"></span>
                            </a>
                        </div>

                    </div>
                    <div class="swiper-custom">
                        <div class="swiper-custom__pagination-inner">
                            <div class="swiper-custom__fraction-inner">
                                <div class="swiper-custom__fraction">
                                    <div class="swiper-custom__current cases__current"></div>
                                    <div class="swiper-custom__separator">/</div>
                                    <div class="swiper-custom__total cases__total"></div>
                                </div>
                                <div class="swiper-custom__arrow-inner">
                                    <svg class="swiper-custom__arrow swiper-custom__arrow--prev cases-slider-prev">
                                        <use xlink:href="assets/images/svg/set.svg#slider-arrow-color"></use>
                                    </svg>
                                    <svg class="swiper-custom__arrow swiper-custom__arrow--next cases-slider-next">
                                        <use xlink:href="assets/images/svg/set.svg#slider-arrow-color"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="swiper-custom__pagination cases__text-pagination swiper-pagination"></div>
                            <div class="swiper-custom__progressbar-icon swiper-progressbar-icon-cases"></div>

                        </div>
                    </div>
                </div>

            </div>

            <a class="cases__link" href="#">все услуги</a>
        </div>
    </div>
</section>