<section class="reviews">

<div class="reviews__inner">
    <div class="container">
        <div class="reviews__wrapper">
            <h2 class="reviews__title">Отзывы</h2>
            <p class="reviews__text">Повышение репутации - наша страсть, ваш успех - наша цель!</p>
            <a class="reviews__mobile-button" href="#">запросить контакты</a>

            <div class="reviews__content reviews-swiper swiper">
                <div class="reviews__content-inner swiper-wrapper">
                    <div class="reviews__content-slide swiper-slide">
                        <a class="reviews__contacts" href="#">запросить контакты</a>
                    </div>
                    <div class="reviews__content-slide swiper-slide">
                        <div class="reviews__firm-inner">
                            <div class="reviews__firm-logo"></div>
                            <div class="reviews__firm-info-inner">
                                <p class="reviews__firm-title">AppCraft</p>
                                <p class="reviews__date">Анонс 21.12.2023</p>
                            </div>
                        </div>
                        <div class="reviews__image-inner">
                            <img class="reviews__image" src="assets/images/review/review.jpg" alt="#">
                        </div>
                    </div>
                    <div class="reviews__content-slide swiper-slide">
                        <div class="reviews__firm-inner">
                            <div class="reviews__firm-logo"></div>
                            <div class="reviews__firm-info-inner">
                                <p class="reviews__firm-title">AppCraft</p>
                                <p class="reviews__date">Анонс 21.12.2023</p>
                            </div>
                        </div>
                        <div class="reviews__image-inner">
                            <img class="reviews__image" src="assets/images/review/review.jpg" alt="#">
                        </div>
                    </div>
                    <div class="reviews__content-slide swiper-slide">
                        <div class="reviews__firm-inner">
                            <div class="reviews__firm-logo"></div>
                            <div class="reviews__firm-info-inner">
                                <p class="reviews__firm-title">AppCraft</p>
                                <p class="reviews__date">Анонс 21.12.2023</p>
                            </div>
                        </div>
                        <div class="reviews__image-inner">
                            <img class="reviews__image" src="assets/images/review/review.jpg" alt="#">
                        </div>
                    </div>
                    <div class="reviews__content-slide swiper-slide">
                        <div class="reviews__firm-inner">
                            <div class="reviews__firm-logo"></div>
                            <div class="reviews__firm-info-inner">
                                <p class="reviews__firm-title">AppCraft</p>
                                <p class="reviews__date">Анонс 21.12.2023</p>
                            </div>
                        </div>
                        <div class="reviews__image-inner">
                            <img class="reviews__image" src="assets/images/review/review.jpg" alt="#">
                        </div>
                    </div>
                    <div class="reviews__content-slide swiper-slide">
                        <div class="reviews__firm-inner">
                            <div class="reviews__firm-logo"></div>
                            <div class="reviews__firm-info-inner">
                                <p class="reviews__firm-title">AppCraft</p>
                                <p class="reviews__date">Анонс 21.12.2023</p>
                            </div>
                        </div>
                        <div class="reviews__image-inner">
                            <img class="reviews__image" src="assets/images/review/review.jpg" alt="#">
                        </div>
                    </div>
                </div>
                <div class="swiper-custom">
                    <div class="swiper-custom__pagination-inner">
                        <div class="swiper-custom__fraction-inner">
                            <div class="swiper-custom__fraction">
                                <div class="swiper-custom__current reviews__current"></div>
                                <div class="swiper-custom__separator">/</div>
                                <div class="swiper-custom__total reviews__total"></div>
                            </div>
                            <div class="swiper-custom__arrow-inner">
                                <svg class="swiper-custom__arrow swiper-custom__arrow--prev reviews-slider-prev">
                                    <use class="slider-arrow-black" xlink:href="assets/images/svg/set.svg#slider-arrow-color"></use>
                                </svg>
                                <svg class="swiper-custom__arrow swiper-custom__arrow--next reviews-slider-next">
                                    <use class="slider-arrow-black" xlink:href="assets/images/svg/set.svg#slider-arrow-color"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="swiper-custom__pagination reviews__text-pagination swiper-pagination"></div>
                        <div class="swiper-custom__progressbar-icon swiper-progressbar-icon-reviews"></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</section>