<section class="service">
    <div class="container">
        <h2 class="service__title">Услуги</h2>
        <div class="service__wrapper">
            <div class="service__inner">
                <a class="service__items" href="#">
                    <h3 class="service__item-title">Управление репутацией</h3>
                    <p class="service__item-text">Стратегический подход к управлению образом бренда или личности,
                        который включает в себя мониторинг, анализ и воздействие на общественное мнение.</p>
                    <svg class="service__svg">
                        <use xlink:href="assets/images/svg/set.svg#man"></use>
                    </svg>

                    <p class="service__coast">Стоимость от <span>50 000</span>р.</p>
                    <p class="service__fake-button">
                        <svg class="service__arrow" width="15" height="15" viewBox="0 0 15 15" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_67_842)">
                                <path d="M0 7.5L11.875 7.5" stroke="white" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M7.5 3.125L11.875 7.5L7.5 11.875" stroke="white" stroke-linecap="square"
                                      stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_67_842">
                                    <rect width="15" height="15" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </p>
                    <img class="service__image" src="assets/images/service/service-1.jpg" alt="#">
                </a>
                <a class="service__items" href="#">
                    <h3 class="service__item-title">Web - Разработка</h3>
                    <p class="service__item-text">Создание и поддержка веб-сайтов и веб-приложений, включая дизайн,
                        программирование, тестирование и оптимизацию.</p>
                    <svg class="service__svg">
                        <use xlink:href="assets/images/svg/set.svg#tetris"></use>
                    </svg>
                    <p class="service__coast">Стоимость от <span>20 000</span>р.</p>
                    <p class="service__fake-button">
                        <svg class="service__arrow" width="15" height="15" viewBox="0 0 15 15" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_67_842)">
                                <path d="M0 7.5L11.875 7.5" stroke="white" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M7.5 3.125L11.875 7.5L7.5 11.875" stroke="white" stroke-linecap="square"
                                      stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_67_842">
                                    <rect width="15" height="15" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </p>
                    <img class="service__image" src="assets/images/service/service-1.jpg" alt="#">
                </a>
                <a class="service__items" href="#">
                    <h3 class="service__item-title">Автоматизация бизнеса</h3>
                    <p class="service__item-text">Это включает в себя автоматизацию производства, управление проектами,
                        финансовые операции, маркетинг и продажи, а также управление клиентским опытом.</p>
                    <svg class="service__svg">
                        <use xlink:href="assets/images/svg/set.svg#ifo"></use>
                    </svg>
                    <p class="service__coast">Стоимость от <span>30 000</span>р.</p>
                    <p class="service__fake-button">
                        <svg class="service__arrow" width="15" height="15" viewBox="0 0 15 15" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_67_842)">
                                <path d="M0 7.5L11.875 7.5" stroke="white" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M7.5 3.125L11.875 7.5L7.5 11.875" stroke="white" stroke-linecap="square"
                                      stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_67_842">
                                    <rect width="15" height="15" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </p>
                    <img class="service__image" src="assets/images/service/service-1.jpg" alt="#">
                </a>
            </div>
            <a class="service__link" href="#">все услуги</a>

        </div>
    </div>
</section>