<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__text-inner">
                <p class="footer__text">© 2011–<span class="date-footer"></span>. ООО ВанСтат. Информация, представленная на сайте не является публичной офертой и носит ознакомительный характер.
                    Ваши персональные данные при их отправке с форм обратной связи будут обрабатываться в соответствии с политикой конфиденциальности.</p>
                <a class="footer__politic" href="#">Политика конфиденциальности</a>
            </div>
            <a class="footer__link" href="#"><b>Boxed</b> you - разработка сайтов</a>
        </div>

    </div>
</footer>


