<form class="form-callback" action="#">
			<fieldset class="form-callback__form-inner">
						<legend class="form-callback__form-title">Оставить заявку</legend>
						<label class="form-callback__label">
									<input class="form-callback__input" type="text" placeholder="Номер">
						</label>
						<label class="form-callback__label">
									<input class="form-callback__input" type="text" placeholder="Почта">
						</label>
						<label class="form-callback__label form-callback__label--textarea">
									<textarea class="form-callback__input form-callback__input--textarea" placeholder="Комментарий"></textarea>
						</label>
			</fieldset>
				<div class="form-callback__politic-inner">

						 	<label class="form-callback__label-politic">
										 <input class="form-callback__input-politic" type="checkbox" checked>
										<span class="form-callback__fake-checkbox"></span>
										 <span class="form-callback__politic-text">Я прочитал условия и согласен с
																<a class="form-callback__politic-link" href="#">политикой конфиденциальности</a>
										 </span>
							</label>
							<button class="form-callback__button" type="submit">отправить</button>
				</div>
</form>