<section class="hero">
    <div class="hero__shadow-left"></div>
    <div class="hero__shadow-right"></div>
    <div class="hero__slider-full">
        <div class="hero__swiper-big swiper hero-big">
            <div class="hero__big-swiper-wrapper swiper-wrapper">
                <div class="hero__big-slide swiper-slide"></div>
                <div class="hero__big-slide swiper-slide"></div>
                <div class="hero__big-slide swiper-slide"></div>
                <div class="hero__big-slide swiper-slide"></div>
            </div>
        </div>
    </div>
    <div class="hero__container container">
        <div class="hero__swiper-text swiper hero-text">
            <div class="hero__swiper-text-wrapper swiper-wrapper">
                <div class="hero__text-slide swiper-slide">
                    <h1 class="hero__title">Повышаем вашу репутацию: гарантированные результаты от нашей компании</h1>
                    <p class="hero__text">Обратитесь к нам для повышения вашей репутации и доверьте свой бизнес нашим
                        экспертам.</p>
                    <a class="hero__link" href="#">подробнее</a>
                </div>
                <div class="hero__text-slide swiper-slide">
                    <h2 class="hero__title">Повышаем вашу репутацию: гарантированные результаты от нашей компании</h2>
                </div>
                <div class="hero__text-slide swiper-slide">
                    <h2 class="hero__title">Повышаем вашу репутацию: гарантированные результаты от нашей компании</h2>
                    <p class="hero__text">Обратитесь к нам для повышения вашей репутации и доверьте свой бизнес нашим
                        экспертам.</p>
                </div>
                <div class="hero__text-slide swiper-slide">
                    <p class="hero__text">Обратитесь к нам для повышения вашей репутации и доверьте свой бизнес нашим
                        экспертам.</p>
                    <a class="hero__link" href="#">подробнее</a>
                </div>

            </div>
            <div class="swiper-custom swiper-custom--white">
                <div class="swiper-custom__pagination-inner">
                    <div class="swiper-custom__fraction-inner">
                        <div class="swiper-custom__fraction">
                            <div class="swiper-custom__current hero__current"></div>
                            <div class="swiper-custom__separator">/</div>
                            <div class="swiper-custom__total hero__total"></div>
                        </div>
                        <div class="swiper-custom__arrow-inner">
                            <svg class="swiper-custom__arrow swiper-custom__arrow--prev text-slider-prev">
                                <use xlink:href="assets/images/svg/set.svg#slider-arrow"></use>
                            </svg>
                            <svg class="swiper-custom__arrow swiper-custom__arrow--next text-slider-next">
                                <use xlink:href="assets/images/svg/set.svg#slider-arrow"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="swiper-custom__pagination hero__text-pagination swiper-pagination"></div>
                    <div class="swiper-custom__progressbar-icon swiper-progressbar-icon-text"></div>

                </div>
            </div>
        </div>


    </div>

</section>