<section class="team">
    <div class="container">
        <div class="team__container">
            <div class="team__wrapper">
                <h2 class="team__title">Команда</h2>
                <p class="team__text">Эксперты в повышении репутации компаний. Мы помогаем вашему бизнесу стать заметнее и уважаемее в глазах клиентов и партнеров.</p>
                <div class="team__swiper-container">
                    <div class="team__content team-swiper swiper">
                        <div class="team__content-inner swiper-wrapper">
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-1.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Александр Иванов</h4>
                                <p class="team__post">Дизайнер</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-2.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Иван Сидоров</h4>
                                <p class="team__post">Продакт-менеджер</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-3.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Мария Петрова</h4>
                                <p class="team__post">Мария Петрова</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-4.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Ольга Козлова</h4>
                                <p class="team__post">Маркетолог</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-4.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Ольга Козлова</h4>
                                <p class="team__post">Маркетолог</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-4.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Ольга Козлова</h4>
                                <p class="team__post">Маркетолог</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-1.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Александр Иванов</h4>
                                <p class="team__post">Дизайнер</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-2.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Иван Сидоров</h4>
                                <p class="team__post">Продакт-менеджер</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-3.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Мария Петрова</h4>
                                <p class="team__post">Мария Петрова</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-4.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Ольга Козлова</h4>
                                <p class="team__post">Маркетолог</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-4.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Ольга Козлова</h4>
                                <p class="team__post">Маркетолог</p>
                            </div>
                            <div class="team__content-slide swiper-slide">
                                <img class="team__image" src="assets/images/team/team-4.jpg"
                                     ghiw-picture-class="team__image-inner" alt="#">
                                <h4 class="team__name">Ольга Козлова</h4>
                                <p class="team__post">Маркетолог</p>
                            </div>
                        </div>
                        <div class="swiper-custom swiper-custom--black">
                            <div class="swiper-custom__pagination-inner">
                                <div class="swiper-custom__fraction-inner">
                                    <div class="swiper-custom__fraction">
                                        <div class="swiper-custom__current team__current"></div>
                                        <div class="swiper-custom__separator">/</div>
                                        <div class="swiper-custom__total team__total"></div>
                                    </div>
                                    <div class="swiper-custom__arrow-inner">
                                        <svg class="swiper-custom__arrow swiper-custom__arrow--prev team-slider-prev">
                                            <use class="slider-arrow-black" xlink:href="assets/images/svg/set.svg#slider-arrow-color"></use>
                                        </svg>
                                        <svg class="swiper-custom__arrow swiper-custom__arrow--next team-slider-next">
                                            <use class="slider-arrow-black" xlink:href="assets/images/svg/set.svg#slider-arrow-color"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="swiper-custom__pagination team__text-pagination swiper-pagination"></div>
                                <div class="swiper-custom__progressbar-icon swiper-progressbar-icon-team"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>